// estilos de la parte de carrito
.carrito-main-section {
   background-color: $color1;
   padding: 30px 100px;
   display: flex;
   justify-content: start;
   align-items: start;
   height: 140vh;

   .carrito__productos-container {
      margin: 20px;
      display: flex;
      flex-direction: column;
      overflow-Y: auto;
      width: 70%;

      .carrito__producto {
         background-color: #fff;
         display: flex;
         margin-bottom: 10px;
         padding: 15px 15px 0 15px;
         justify-content: space-around;
         align-items: center;
         border-radius: 10px;
         flex-wrap: wrap;
         box-shadow: 0 2px 3px rgba(143, 143, 143, 0.685);

         .carrito__producto-item {
            display: flex;
            justify-content: start;
            align-items: center;
            margin: 0 20px 8px 0;

            .carrito__producto-img {
               height: 70px;
               width: 70px;
               object-fit: cover;
               transition: transform .5s ease;

               &:hover {
                  transform: scale(1.05);
               }
            }
         }

         .carrito__producto-item-delete {
            display: flex;
            justify-content: start;
            flex-direction: column;
            width: 80%;

            .eliminarBtn {
               font-size: 18px;
               color: #4186ee;
               border: 2px solid #4186ee;
               padding: 0 10px;
               cursor: pointer;
               transition: all .3s ease;
               border-radius: 10px;
               width: 100px;
               text-align: center;
               font-size: 15px;
               font-weight: 500;
               letter-spacing: .7px;

               &:hover {
                  background-color: #4186ee;
                  color: #fff;
               }
            }

            div {
               display: flex;
               align-items: center;
               gap: 20px;
               justify-content: space-between;
               padding: 0 10px 0 0;

               h3 {
                  font-size: 22.5px;
               }

               h4 {
                  font-size: 22.5px;
               }
            }
         }

         .hr {
            height: 2px;
            background-color: #000;
            width: 100%;
            color: #000;
         }

         .carrito__producto-envios-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;

            h3 {
               font-size: 18px;
            }
         }
      }
   }

   .carrito__productos-info {
      display: flex;
      background-color: #fff;
      padding: 15px 24px;
      margin: 20px;
      width: 40%;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      position: sticky;
      top: 90px;
      height: 190px;
      box-shadow: 2px 2px 4px rgba(143, 143, 143, 0.685);

      .carrito__productos-info-productos {
         display: flex;
         width: 100%;
         justify-content: space-between;

         h3 {
            font-size: 18px;
         }
      }

      .carrito__productos-info-envios {
         display: flex;
         width: 100%;
         justify-content: space-between;

         h3 {
            font-size: 18px;
         }
      }

      .carrito__productos-info-total {
         display: flex;
         width: 100%;
         justify-content: space-between;

         h2 {
            b {

               font-size: 28px;
            }
         }
      }

      .hr {
         height: 2px;
         background-color: #000;
         width: 100%;
         color: #000;
         margin: 6px 0;
      }

      .carrito__productos-info-comprar {
         font-size: 20px;
         height: 45px;
         width: 100%;
         align-self: end;
         padding: 5px;
         color: #4186ee;
         border: 2px solid #4186ee;
         border-radius: 10px;
         text-align: center;
         transition: all .5s ease;

         &:hover {
            cursor: pointer;
            background-color: #4186ee;
            color: #fff;
         }
      }
   }
}