#bigCarousel2 {
   display: flex;
   justify-content: center;
   z-index: 2;
   padding: 20px;

   .gran-carousel__item-container {
      width: 100vw;
      height: 90vh;
      display: flex;
      position: relative;
      animation: 1s showFirst ease;

      .gran-carousel__item-1 {
         width: 50%;
         height: 100%;
         background-color: #253342;
         overflow-y: hidden;

         .gran-carousel__item-1-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }

         .gran-carousel__item-1-info {
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;

            a {
               text-decoration: none;

               div {
                  height: 50px;
                  width: 150px;
                  text-align: center;
                  padding: 6px 0;
                  transition: all .4s;
                  border-radius: 20px;
                  font-size: .8rem;
                  color: #fff;
                  outline: none;
                  background-color: #000;
                  transition: background-color .3s ease;

                  &:hover {
                     background-color: #4d4b4b;
                  }
               }
            }
         }
      }

      .gran-carousel__item-2 {
         width: 50%;
         height: 100%;
         color: #fff;

         .gran-carousel__item-2-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(.7)
         }
      }
   }
}