.flex-product-section {
   display: flex;
   padding: 20px;
   flex-direction: column;
   height: auto;
   background-color: $color1;
   color: #000;

   .flex-product-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
         font-size: 20px;
         margin: 0 40px;
      }

      .flex-product-type-title {
         font-size: 60px;
         margin: 10px 40px;
         font-weight: 700;
         letter-spacing: 3px;
      }
   }

   article {
      display: flex;
      gap: 50px;

      .flex-products-filters {
         width: 20vw;
         h2  {
            font-size: 30px;
            margin-bottom: 10px;
         }
         ul {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 20px 0;

            h3 {
               font-size: 24px;
               margin-bottom: 20px;
            }

            li {

               label {
                  display: flex;
                  gap: 20px;
                  align-items: center;
                  position: relative;
                  &::before {
                     content : "";
                     width: 5px;
                     height: 2px;
                     background-color: $color1;
                     transform: rotate(35deg);
                     position:absolute;
                     left: 4.5px;
                     bottom: 12px;
                  }
                  &::after {
                     content: "";
                     width: 10px;
                     height: 2px;
                     background-color: $color1;
                     transform: rotate(-53deg);
                     position: absolute;
                     left: 7px;
                  }

                  input {
                     outline: none;
                     width: 20px;
                     height: 20px;
                     border:2.7px solid $color2;
                     border-radius: 3px;
                     transition: all .3s ease;

                     &:focus {
                        background-color: #000;
                        border: none;

                     }

                  }

                  p {
                     font-size: .6rem;
                  }
               }
            }
         }
      }

      .flex-product-container {
         display: grid;
         grid-template-columns: repeat(3, minMax(200px, 380px));
         grid-template-rows: repeat(3, 350px);
         column-gap: 20px;
         row-gap: 100px;

         .flex-product__item {
            min-width: 300px;
            background-color: #fff;

            .flex-product__item-img {
               height: 100%;
               width: 100%;
               object-fit: cover;
               transition: all .5s ease;

               &:hover {
                  transform: scale(1.027);
                  outline: 1px solid #000;
               }
            }

            div {
               display: flex;
               justify-content: space-evenly;
               align-items: flex-start;

               .flex-product__item-title {
                  font-size: 20px;
               }

               .flex-product__item-precio {
                  font-size: 20px;
               }
            }
         }
      }
   }
}