
.sesion-section {
   height:100vh;
   width: 100vw;
   z-index: 100;
   display: flex;
   align-items: center;
   flex-direction: column;
   position: absolute;
   top: 0;
   background-color:#000000c0;
   padding: 10vh;
   h2 {
      font-size: 40px ;
      margin: 20px;
      color: #fff;
   }
   button[id='xmark'] {
      border: none;
      background-color: #00000000;
      position: absolute;
      top: 40px;
      right: 70px;
      transition: all .6s ease;
      i {
         color: #fff;
      }
      &:hover {
         transform: rotate(180deg);
      }
   }
   .sesion-form {
      width: 35vw;
      height: 70vh;
      display: flex;
      flex-direction: column;
      background-color: #aaaaaa;
      border-radius: 20px;
      color: #000;
      align-items: center;
      justify-content: center;
      div {
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-direction: column;
         margin: 0 0 20px 0;
         input {
            padding: 10px;
            width: 300px;
            height: 50px;
            border: none;
            box-sizing: border-box;
            font-size: 20px;
            transition: all .2s ease;
            &:focus {
               outline: none;
               border-left:3px solid #00f;
               border-right:3px solid #00f;
               padding: 12px;

            }
         }
         input[type='submit'] {
            border-radius: 20px;
            transition: all .3s;
            text-align: center;
            padding: 5px;
            &:hover {
               border: none;
               transform: scale(0.98);
            }
            &:focus {
               border: none;
            }
         }
         i {
            position: relative;
            top: -38px;
            left: 8.5em;
            &:hover {
               cursor: pointer;
            }
         }
         label {
            margin: 5px 10px;
            font-size: 30px;
         }
         button {
            border: none; 
            font-size: 20px;
            background-color: inherit;
            margin: 2px 20px;
            margin: 10px 0;
         }
      }
   }
}