@import "./utils/variables";
@import "./base/base";
@import "./layout/index/index.scss";
@import "./layout/index/carouselNormal";
@import "./layout/producto/productos.scss";
@import "./layout/carrito/carrito.scss";
@import "./layout/tipoRopa/tipoRopa.scss";
@import "./layout/sesion/sesion";
@import "./layout/stockManager/stockManager";
@import "./layout/ayuda/ayuda";
@import "./media/mobile";

body {
   background-color: #F5F5F5;
   overflow-x: hidden !important;
   max-width:100vw;
}
